<ul id="mainlevel">
    <li><%= nav_link 'Home', '/' %></li>
    <li><%= nav_link 'Contactpersonen', '/contactpersonen/' %></li>
    <li><%= nav_link 'Programmaboek', '/programmaboek.html' %></li>
    <li><%= nav_link 'Lessen 2011 - 2012', '/lessen.html' %></li>
    <li><%= nav_link "Foto's", '/fotos.html' %></li>
    <li><%= nav_link 'Links', '/links.html' %></li>
    <li><%= nav_link 'Nieuws', '/nieuws.html' %></li>
</ul>
