<ul id="mainlevel">
    <li><%= nav_link 'Home', '/' %></li>
    <li><%= nav_link 'Contactpersonen', '/contactpersonen.html' %></li>
    <li><%= nav_link 'Opleidingen', '/opleidingen.html' %></li>
    <li><%= nav_link 'Lessen', '/lessen.html' %></li>
    <li><%= nav_link "Foto's", '/fotos.html' %></li>
    <li><%= nav_link 'Info', '/info.html' %></li>
    <li><%= nav_link 'Links', '/links.html' %></li>
    <li><%= nav_link 'Nieuws', '/nieuws.html' %></li>
</ul>
